:root {
  --game-field-size: 600px;
  --platform-width: 100px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'roboto';
  background-color: #202060;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px;
}

.game-field {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #6666cc;
}

.platform {
  position: absolute;
  bottom: 0;
  height: 5px;
  border-radius: 3px;
  background-color: #fff;
}

.ball {
  position: absolute;
  bottom: 5px;
  border-radius: 50%;
  background-color: #47476b;
}

.heading_big {
  font-size: 45px;
  font-weight: 800;
  color: #fff;
}

.heading_small {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}

.position-vertical-center {
  position: absolute;
  top: 50%;
}

.end {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.end__btn {
  margin-top: 100px;
  padding: 15px 25px;
  background-color: #262626;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  transition: background-color 0.2s ease-in-out;
}

.end__btn:hover {
  cursor: pointer;
  background-color: #404040;
}

.blocks-wrapper {
  position: relative;
  width: 100%;
}

.row-of-blocks {
  position: absolute;
  width: 100%;
}

.block {
  position: absolute;
  width: 100px;
  height: 10px;
  border: 1.5px solid #6666cc;
  border-radius: 3px;
  background-color: #e6e6e6;
}
